* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #265592
}

@media screen and (max-width: 480px) {
    header {
        max-height: 10%;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadeOut 4s ease-out forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    85% {
     opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    height: 20px;
    --c:no-repeat radial-gradient(farthest-side,#000 93%,#0000);
    background:
      var(--c) 0    0,
      var(--c) 50%  0;
    background-size: 8px 8px;
    position: relative;
    clip-path: inset(-200% -100% 0 0);
    animation: l6-0 1.5s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: #000;
    left: -16px;
    top: 0;
    animation: 
      l6-1 1.5s linear infinite,
      l6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0 0 auto auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000; 
    animation: l6-3 1.5s linear infinite;
  }
  @keyframes l6-0 {
    0%,30%  {background-position: 0  0   ,50% 0   }
    33%     {background-position: 0  100%,50% 0   }
    41%,63% {background-position: 0  0   ,50% 0   }
    66%     {background-position: 0  0   ,50% 100%}
    74%,100%{background-position: 0  0   ,50% 0   }
  }
  @keyframes l6-1 {
    90%  {transform:translateY(0)}
    95%  {transform:translateY(15px)}
    100% {transform:translateY(15px);left:calc(100% - 8px)}
  }
  @keyframes l6-2 {
    100% {top:-0.1px}
  }
  @keyframes l6-3 {
    0%,80%,100% {transform:translate(0)}
    90%         {transform:translate(26px)}
  }

.container {
    margin: auto
}

header {
    display: flex;
    background-color: #C1D6F6;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
    color: #265592
}

#logo {
    width: 338px;
    height: 63px;
}

.nav {
    display: flex;
    gap: 80px;
}

.login {
    display: flex;
    gap: 40px;
}

#slide1 , #slide2 , #slide3 {
    display: none;
}

#visual {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: gray;
    overflow: hidden;
    margin: auto;
}

#visual:hover .slides,
.slide:hover .slides,
.arrow:hover .slides
{
    animation-play-state: paused;
}

.slides {
    position: absolute;
    width: 400%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    display: none;
    animation-name: visual;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.slide {
    width: 25%;
    height: 800px;
    background-size: cover;
}

.slide_text {
    color: white;
    margin-left: 300px;
    margin-top: 300px;
    font-size: 30px;
}

.slide_text > h1 {
    font-size: 100px;
}

#slide3:checked ~ .buttons > .button:nth-child(3),
#slide2:checked ~ .buttons > .button:nth-child(2),
#slide1:checked ~ .buttons > .button:nth-child(1),
#slide3:checked ~ #visual > .slides:nth-child(3),
#slide2:checked ~ #visual > .slides:nth-child(2),
#slide1:checked ~ #visual > .slides:nth-child(1) {
    display: flex;
}

@keyframes  visual {
    0% {
        left: 0;
    } 30% {
        left: 0%;
    } 33% {
        left: -100%;
    } 63% {
        left: -100%;
    } 66% {
        left: -200%;
    } 96% {
        left: -200%;
    } 100% {
        left: -300%;
    }
}

.buttons {
    margin-bottom: 100px;
}

.button {
    
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 140px;
    display: none;
    color: white;
    margin-top: 17%;
}

.button label {
    cursor: pointer;
}

.slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/공통/images/11.JPG);
}

.slide2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/공통/images/13.JPG);
}

.slide3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/공통/images/23.JPG);
}


.contents {
    margin-bottom: 50px;
}

.h1 {
    color: #4387DD;
    font-size: 80px;
    text-align: center;
    padding-bottom: 50px;
}

.circles {
    display: flex;
    justify-content: space-evenly;
}

.product {
    width: 100px;
    height: 100px;
}

.radiotxt > input {
    position: absolute;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.radiotxt > label { 
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 4px;
    margin-top: 2px;
    font-weight: bolder;
    border: 4px solid #265592;
    line-height: 95px;
    border-radius: 50%;
    font-size: 20px;
    color: #265592;
    cursor: pointer;
}

#guide {
    margin-top : 128px;
    text-align: center;
    color: #808080;
}

.radiotxt {
   margin-left: -112px;
}

.radiotxt > h1 {
    position: absolute
}

.product-content {
    display: none;
}


.product-content {
    gap: 200px;
    margin-top: 64px;
    margin-left: 304px;
}

.product-container {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.product-content > div {
    width: 300px;
    height: 420px;
    overflow-x: none;
    background-color: #D3E7FF;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    box-shadow: 2px 2px 2px gray;
}

.product-content > div > img{
    width: 100%;
    height: 330px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.product:checked + .product-content { /* 체크된 product 바로 뒤의 product-content만 보이게 함 */
    display: block; 
    display: flex;
}

.notification {
    width: 1300px;
    margin: auto;
    margin-bottom: 100px;
}

.kan {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.arrows {
    display: flex;
    gap: 18px;
    font-size: 25px;
    float: right;
    color: #4387DD;
}

.product_en {
    width: 1300px;
    margin: auto;
}

.product_en > h3 {
    text-align: center;
    color: #265592;
    font-size: 30px
}

.en {
    height: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    vertical-align: middle;
    display: flex;
    font-size: 30px;
    color: white;
    border: solid 10px #265592;
}

.en > div {
    width: 1260px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #265592;
}

.en > div > .div_en {
    border-radius: 80px;
    width: 1300px;
    height: 125px;
    color: #265592;
    display: flex;
    align-items: center;
    font-size: 19px;
    text-align: center;
}

.product_en > p {
    text-align: center;
}

.arrows  {
    margin-top: -50px;
}

.banners {
    display: flex;
    justify-content: space-between;
}

.banner {
    display: flex;
    align-items: center;
    border: solid 2px black;
    font-size: 18px
}

.banner > img {
    width: 110px;
    height: 100px;
}

.footer_top {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_bottom {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer_bottom > div,
.footer_top > div
{
    padding: 20px;   
}

.footer_logo {
    margin-top: 32px;
}

.sns_icon > img {
    width: 40px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

#youtube:hover {
    content: url(/공통/images/youtube.png);
}
#pinterest:hover {
    content: url(/공통/images/pinterest.png);
}
#kakaotalk:hover {
    content: url(/공통/images/twitter.png);
}
#facebook:hover {
    content: url(/공통/images/facebook.png);
}
#instagram:hover {
    content: url(/공통/images/instagram.png);
}