.container {
    width: 1400px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.search {
    padding: 30px
}

.search > #search-input {
    font-size: 20px; padding: 20px; width: 550px
}

.h1 > h1 {
    text-align: center;
}

#shoppinglist_box {
    width: 620px;
    height: 630px;
    border : 4px solid black;
    border-radius : 5px;
    flex-direction: column;
    overflow-y: auto;
}

#buylist_box {
    width: 620px;
    height: 630px;
    border : 4px solid black;
    border-radius : 5px;
    flex-direction: column;
    overflow-y: auto;
}

.shopping {
    display: flex;
    gap: 152px;
}

.box1 {
    width: 420px;
    height: 130px;
    border-radius : 5px;
    border : 10px solid red;
}

.box2 {
    width: 620px;
    height: 130px;
    border-radius : 5px;
    border : 10px solid green;
    text-align: center;
    line-height: 70px;
}
#shoppinglist_box {
    font-size: 22px;
}

#shoppinglist_box h4 {
    margin-left: 20px;
}
#shoppinglist_box p {
    margin-left: 20px;
}

#shoppinglist_box img {
    height: 200px;
    width: 200px
}

.item {
    border: 2px solid black;
    display: flex
}

.buylist {
    display: flex;
}


#buyButton {
    font-size: 38px;
    width: 200px;
    height: 130px;
}

#del_btn {
    width: 100px;
    height: 30px;
}

.pdt{
    display: flex;
    justify-content: space-between;
}

.pdt > img {
    width: 200px;
    height: 200px;
}

.pdt_text {
    text-align: center;
    font-size: 22px
}

.del {
    display: flex;
    font-size: 20px;
    width: 130px;
    height: 30px;
    margin-top: 170px;
}

.red {
    display: flex;
    margin-top: 18px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}
